.body-container {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-optical-sizing: auto; */
    font-size: 14px;
    width: 100%;
    margin: 0;
    background-color: white;
    color: black;
}

@media print {
    .body-container {
        margin: 0;
        padding: 0;
        width: 100%;
        /* max-width: max-content; */
        /* box-sizing: max-content; */
    }

    body {
        max-width: max-content;
        width: max-content;
        margin: 0;
        padding: 0;
        box-sizing: max-content;
        display: contents;
    }

    .edu-table {
        column-count: 2;
        column-fill: balance-all;
        text-align: center;
    }

    .cert-table {
        column-count: 4;
        column-fill: balance-all;
        text-align: center;
    }

    .content-table {
        column-count: 3;
        column-fill: balance-all;
        text-align: center;
    }
}


.resume-img {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
}

.banner-name {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    padding-top: 9px;
    margin: 0;
}

.banner-title {
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
}

.spaced-between {
    display: flex;
    justify-content: space-between;
}

.gradient-bg {
    background: linear-gradient(to right, #b588fc, #a891ff, #9b99ff, #91a1ff, #88a7ff, #7cb0ff, #73b8ff, #6fc0ff, #68cbff, #66d6ff, #6ce0ff, #77eafd);
    padding-left: 0;
    padding-right: 0;
}

.banner {
    text-align: center;
    vertical-align: center;
}

.banner-content {
    line-height: 45px;
}

.summary {
    font-weight: 500;
    font-size: 16px;
    margin-top: 1rem;
}

.resume-table {
    width: 100%;
}

.resume-td {
    font-weight: 300;
    width: 50%;
    font-size: 14px;
    text-align: left;
    padding-left: .5%;
    padding-right: .5%;
}


.section-header {
    text-align: center;
    vertical-align: center;
    font-size: 22px;
    padding: 3px;
    font-weight: 500;
}

.exp-header {
    margin-bottom: 0;
    margin-top: 0;
    /* font-weight: 500; */
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.resume-link {
    color: blue;
}

.achievements-header {
    font-weight: 600;
    font-style: italic;
}

strong {
    font-weight: 600;
}

p {
    padding-left: 1.5%;
    padding-right: 1.5%;
}


.edu-table {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    column-fill: balance-all;
    text-align: center;
}

.cert-table {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4;
    column-fill: balance-all;
    text-align: center;
}

.content-table {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    column-fill: balance-all;
    text-align: center;
}

h6 {
    font-size: 19px
}